.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  min-height: 100%;
}

.input-fields {
  width: 100%;
  background-color: #f4f1f1;
  margin-bottom: 10%;
}

.search-div {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 60%;
  width: 65%;
}

.display-div {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-right: 2em;
  height: 100%;
}

.data-textField {
  background-color: #f4f1f1;
  border: 1px solid;
  height: 100%;
  overflow: auto;
}

.grid-container {
  height: 80vh;
}

.display-container {
  height: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
