.App {
  text-align: center;
  max-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  min-height: 100%;
}

.input-fields {
  width: 100%;
  background-color: #f4f1f1;
  margin-bottom: 5%;
  align-items: stretch;
  border-radius: 4px;
  border-style: line;
}

.search-div {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 25%;
  border-radius: 5px;
}

.language-json {
  color: black;
  font-size: 16px;
  text-align: left;
  padding-left: 1em;
}

.display-div {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-right: 4em;
  height: 100%;
}

.data-textField {
  background: #f4f1f1;
  border: 1px solid;
  height: 100%;
  overflow: auto;
  margin-bottom: 3em;
  border-style: line;
  border-color: grey;
  border-radius: 5px;
}

.grid-container {
  height: 80vh;
}

.display-container {
  height: 100%;
}

.title {
  font-size: 4.3rem;
  font-weight: bold;
  text-shadow: 3px 3px #a9d9d0;
}
